@page "/ExpGrid"
<h3>Experience Grid</h3>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Level<i class="oi oi-arrow-bottom"></i>&nbsp;SR<i class="oi oi-arrow-right"></i></th>
        @foreach (var item in ExperienceGrid[0].SRExperience)
        {
            <th>@item.Key</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ExperienceGrid)
    {
        <tr>
            <th>@item.Level</th>
            @foreach (var subItem in item.SRExperience)
            {
                <td>@subItem.Value</td>
            }
        </tr>
    }
    </tbody>
</table>

@code
{
    [CascadingParameter(Name = "ExpGrid")]
    public List<ExpGridData> ExperienceGrid { get; set; } = null!;
}