@page "/Feats"
<h3>Feats</h3>

<div class="row">
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">Parameters</div>
            <div class="card-body">
                <fieldset class="form-group">
                    <legend class="col-form-label">Name</legend>
                    <input class="form-control" type="text" @bind="_name"/>
                </fieldset>
                <fieldset class="form-group">
                    <legend class="col-form-label">Description</legend>
                    <input class="form-control" type="text" @bind="_description"/>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <table class="table table-bordered table-striped table-responsive">
            <caption>Results</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in GetList())
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code
{
    [CascadingParameter(Name = "Feats")]
    public List<FeatData> FeatsList { get; set; } = null!;

    private string? _name;
    private string? _description;

    private List<FeatData> GetList()
    {
        var query = FeatsList.AsEnumerable();
        if (!string.IsNullOrWhiteSpace(_name))
        {
            query = query.Where(x => x.Name.Contains(_name, StringComparison.CurrentCultureIgnoreCase));
        }

        if (!string.IsNullOrWhiteSpace(_description))
        {
            query = query.Where(x => x.Description.Contains(_description, StringComparison.CurrentCultureIgnoreCase));
        }

        return query.ToList();
    }
}