@page "/GridTest"
<h3>GridTest</h3>

<IgbDataGrid DataSource="@AbilitiesList" IsPagerVisible="true" PageSize="20">
</IgbDataGrid>

@code
{
    [CascadingParameter(Name = "Abilities")]
    public List<AbilityData> AbilitiesList { get; set; } = null!;
}