@page "/Natures"
<h3>Natures</h3>

<div class="row">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Attribute 1</th>
            <th>Attribute 2</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in NaturesList)
        {
            <tr>
                <td>@item.Name</td>
                @foreach (var pair in item.AbilityScoreChanges)
                {
                    <td>@pair.Key: @pair.Value</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@code
{
    [CascadingParameter(Name = "Natures")]
    public List<NatureData> NaturesList { get; set; } = null!;
}